<%= form_for(@subcontrol) do |f| %>
  <% if @subcontrol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcontrol.errors.count, "error") %> prohibited this subcontrol from being saved:</h2>

      <ul>
      <% @subcontrol.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :subctrlnumber %><br />
    <%= f.text_field :subctrlnumber %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :supplemental_guidance %><br />
    <%= f.text_field :supplemental_guidance %>
  </div>
  <div class="field">
    <%= f.label :baseline_id %><br />
    <%= f.text_field :baseline_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
