<h1>Listing subcontrols</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Parentcontrolid</th>
    <th>Enumber</th>
    <th>Title</th>
    <th>Description</th>
    <th>Supplemental guidance</th>
    <th>Baselineid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subcontrols.each do |subcontrol| %>
  <tr>
    <td><%= subcontrol.id %></td>
    <td><%= subcontrol.control_id %></td>
    <td><%= subcontrol.subctrlnumber %></td>
    <td><%= subcontrol.title %></td>
    <td><%= subcontrol.description %></td>
    <td><%= subcontrol.supplemental_guidance %></td>
    <td><%= subcontrol.baseline_id %></td>
    <td><%= link_to 'Show', subcontrol %></td>
    <td><%= link_to 'Edit', edit_subcontrol_path(subcontrol) %></td>
    <td><%= link_to 'Destroy', subcontrol, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subcontrol', new_subcontrol_path %>
