<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @subcontrol.id %>
</p>

<p>
  <b>Parentcontrolid:</b>
  <%= @subcontrol.control_id %>
</p>

<p>
  <b>Enumber:</b>
  <%= @subcontrol.subctrlnumber %>
</p>

<p>
  <b>Title:</b>
  <%= @subcontrol.title %>
</p>

<p>
  <b>Description:</b>
  <%= @subcontrol.description %>
</p>

<p>
  <b>Supplemental guidance:</b>
  <%= @subcontrol.supplemental_guidance %>
</p>

<p>
  <b>Baselineid:</b>
  <%= @subcontrol.baseline_id %>
</p>


<%= link_to 'Edit', edit_subcontrol_path(@subcontrol) %> |
<%= link_to 'Back', subcontrols_path %>
