<%= form_for(@control) do |f| %>
  <% if @control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@control.errors.count, "error") %> prohibited this control from being saved:</h2>

      <ul>
      <% @control.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :ctrlnumber %><br />
    <%= f.text_field :ctrlnumber %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :family_id %><br />
    <%= f.text_field :family_id %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br />
    <%= f.text_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :supplemental_guidance %><br />
    <%= f.text_field :supplemental_guidance %>
  </div>
  <div class="field">
    <%= f.label :baseline_id %><br />
    <%= f.text_field :baseline_id %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
