<h1>Listing controls</h1>

<%= form_tag controls_path, :method => :get do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<table>
  <tr>
    <th>Id</th>
    <th>Ctrlnumber</th>
    <th>Title</th>
    <th>Familyid</th>
    <th>Sourceid</th>
    <th>Description</th>
    <th>Supplemental guidance</th>
    <th>Baselineid</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @controls.each do |control| %>
  <tr>
    <td><%= control.id %></td>
    <td><%= control.ctrlnumber %></td>
    <td><%= control.title %></td>
    <td><%= control.family_id %></td>
    <td><%= control.source_id %></td>
    <td><%= control.description %></td>
    <td><%= control.supplemental_guidance %></td>
    <td><%= control.baseline_id %></td>
    <td><%= control.priority %></td>
    <td><%= link_to 'Show', control %></td>
    <td><%= link_to 'Edit', edit_control_path(control) %></td>
    <td><%= link_to 'Destroy', control, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Control', new_control_path %>
