<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @control.id %>
</p>

<p>
  <b>Ctrlnumber:</b>
  <%= @control.ctrlnumber %>
</p>

<p>
  <b>Title:</b>
  <%= @control.title %>
</p>

<p>
  <b>Familyid:</b>
  <%= @control.family_id %>
</p>

<p>
  <b>Sourceid:</b>
  <%= @control.source_id %>
</p>

<p>
  <b>Description:</b>
  <%= @control.description %>
</p>

<p>
  <b>Supplemental guidance:</b>
  <%= @control.supplemental_guidance %>
</p>

<p>
  <b>Baselineid:</b>
  <%= @control.baseline_id %>
</p>

<p>
  <b>Priority:</b>
  <%= @control.priority %>
</p>


<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>
